@{
    ViewData["Title"] = "Home Page";
}
        <body>
            <center>
                <table class="tableBody" style="padding-top:100px">
                    <tr>
                        <th class="my-th" style="width:220px">EventName</th>
                        <th class="my-th" style="width:220px">OddsForFirstTeam</th>
                        <th class="my-th" style="width:220px">OddsForDraw</th>
                        <th class="my-th" style="width:220px">OddsForSecondTeam</th>
                        <th class="my-th" style="width:220px">EventStartDate</th>
                    </tr>
                    <tr>
                        <td class="my-th">Liverpool - Barcelona</td>
                        <td class="my-th">3.20</td>
                        <td class="my-th">2.00</td>
                        <td class="my-th">1.90</td>
                        <td class="my-th">31/12/2019 19:30</td>
                    </tr>
                    <tr>
                        <td class="">10002</td>
                        <td>Sally</td>
                        <td>F</td>
                        <td>28</td>
                        <td>2019</td>
                    </tr>
                    <tr>
                        <td class="">10003</td>
                        <td>Anthony</td>
                        <td>M</td>
                        <td>24</td>
                        <td>2019</td>
                    </tr>
                </table>
            </center>
        </body>